@import "libs/reset.sass"
@import "typography.sass"

body
  font-family: $defaultFont

header
  width: 100%
  position: fixed
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4)
  border-bottom: 1px dashed rgb(239, 201, 76)
  margin: 0 auto
  background: rgb(223, 73, 74)

  .fill
    width: 960px
    margin: 0 auto

    a
      .logo
        width: 200px
        height: 100px
        margin: 0 20px 0
        float: left
        background: url("../images/logo-iluminarte-simple.png") -2px 5px no-repeat

    .search
      float: right

    nav.main
      width: auto
      height: 100px
      text-align: center
      margin: -10px 0 0
      float: right

      ul
        li
          display: inline-block
          cursor: pointer
          margin: 10px -3px
          transition: background 0.2s linear
          background: rgb(223, 73, 74)

          a
            width: auto
            height: 100px
            font-size: 14px
            font-style: italic
            padding: 0 30px
            display: block
            line-height: 100px
            text-decoration: none
            color: rgb(255, 255, 255)

        li:hover
          background: darken(rgb(223, 73, 74), 2%)

          a
            color: rgb(239, 201, 76)

.content
  .about-us,
  .top-projects,
  .keep-contact
    width: 100%
    margin: 0 auto
    padding: 100px 0 100px

    .fill
      width: 960px
      margin: 0 auto
      padding: 20px

      .header
        margin: 0 0 20px 0
        h2
          font-size: 25px
          text-transform: uppercase

      .description
        p
          margin: 0 0 20px 0
          font-size: 17px
          line-height: 25px

        p:first-letter
          margin: 0 0 0 60px

  .about-us
    color: rgb(255, 255, 255)
    background: rgb(223, 73, 74)

  .top-projects
    background: rgb(70, 177, 157)

  .keep-contact
    background: rgb(239, 201, 76)
